<html>
    <head>
        <title>Modifica cittadino</title>
        <style></style>
    </head>

    <body>
        <h1>Form di Rimozione</h1>
        <form action="/modifica" method="get">
            <fieldset>
                    
                <legend>Dati Utente</legend>
                <input type="hidden" name="controllo" value="2"><br>

                <p >
                    <label for="fcf">Inserire il codice fiscale del cittadino che si vuole modificare:</label><br>
                    <input type="text" name="fcf" max="16" min="16" size="50" title="Deve essere lungo 16 caratteri">
                </p>
                <p >
                    <label for="fncf">Inserire il nuovo codice fiscale del cittadino(Non Obbligatorio):</label><br>
                    <input type="text" name="fncf" max="16" min="16" size="50" title="Deve essere lungo 16 caratteri">
                </p>
                <p >
                    <label for="fname">Inserire il nuovo nome del cittadino(Non Obbligatorio):</label><br>
                    <input type="text" name="fname" size="50">
                </p>
                <p >
                    <label for="fsurname">Inserire il nuovo cognome del cittadino(Non Obbligatorio):</label><br>
                    <input type="text" name="fsurname" size="50">
                </p>
                <p >
                    <label for="fdate">Inserire la nuova data di nascita del cittadino(Non Obbligatorio):</label><br>
                    <input type="date" name="fdate" min="1908-05-23" max="2025-01-10" size="50">
                </p>

            </fieldset>

            <input type="submit" value="invia dati">
        </form>
    </body>
    </body>
</html>