<!DOCTYPE html>
<html>
    <head>

        <title>Personal Page</title>

        <style>

            body {

                background-color: blanchedalmond;
            }

            .header{

                font-size: larger;
                background-color: goldenrod;
            }

            .info {

                text-align: left;
                
            }
            .ind {

                text-align: right;
                
            }
        </style>

    </head>

    <body>
        
        <table style="width:100%">
            <tr class="header">
              <td class="info">{nome}{sesso}<td class="logo"><img src="../img/sito/logo_amazon.png" alt="Logo Amazon" width="100" height="100"><td class="ind">{comune}</td>
            </tr>
            <tr>
            </tr>
          </table>
    </body>
</html>